node_modules/
.env
.env.*
!.env.example
data/*.sqlite
logs/*
!logs/.gitkeep
public/models/*.glb
public/models/*.gltf
public/images/classrooms/*
!public/images/classrooms/.gitkeep
public/passports/classrooms/*
!public/passports/classrooms/.gitkeep
